USE [master]
GO
/****** Object:  Database [ENDAVA]    Script Date: 24-Mar-23 6:53:42 PM ******/
CREATE DATABASE [ENDAVA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ENDAVA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ENDAVA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ENDAVA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ENDAVA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ENDAVA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ENDAVA]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 24-Mar-23 6:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[HOURLY_PAY] [decimal](5, 2) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](60) NULL,
	[OSIGURENIK_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSURANCE]    Script Date: 24-Mar-23 6:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSURANCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INSURANCE_PRICE] [decimal](7, 2) NULL,
	[INSURANCE_TYPE] [varchar](50) NULL,
	[EXSITING_INSURANCE] [varchar](3) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICENCES]    Script Date: 24-Mar-23 6:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCES](
	[LICENCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DRIVERS_LICENCE] [varchar](2) NULL,
	[IDENTITY_CARD] [varchar](2) NULL,
	[PASSPORT] [varchar](3) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LICENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 24-Mar-23 6:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[AMOUNT] [decimal](7, 1) NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODUCT_WEIGHT] [decimal](5, 2) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[TRANSACTIONS_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TRANSACTIONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLES]    Script Date: 24-Mar-23 6:53:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLES](
	[VEHICLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRICE] [decimal](7, 2) NULL,
	[VEHICLE_TYPE] [varchar](50) NULL,
	[COLOR] [varchar](7) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[LICENCE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [HOURLY_PAY], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [OSIGURENIK_ID]) VALUES (1601, N'Keti', N'Josifovska', CAST(448.00 AS Decimal(5, 2)), CAST(N'2023-03-20T02:30:36.943' AS DateTime), NULL, N'N/A', 1)
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [HOURLY_PAY], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [OSIGURENIK_ID]) VALUES (1602, N'Aneta', N'Stojchevska', CAST(480.00 AS Decimal(5, 2)), CAST(N'2023-03-20T02:30:36.943' AS DateTime), NULL, N'N/A', 2)
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [HOURLY_PAY], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [OSIGURENIK_ID]) VALUES (1603, N'Nemanja', N'Jovikj', CAST(744.00 AS Decimal(5, 2)), CAST(N'2023-03-20T02:30:36.943' AS DateTime), NULL, N'N/A', 3)
GO
SET IDENTITY_INSERT [dbo].[INSURANCE] ON 

INSERT [dbo].[INSURANCE] ([ID], [INSURANCE_PRICE], [INSURANCE_TYPE], [EXSITING_INSURANCE], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [EMPLOYEE_ID]) VALUES (1, CAST(639.00 AS Decimal(7, 2)), N'LIGHT', N'DA', CAST(N'2023-03-20T19:01:50.390' AS DateTime), CAST(N'2023-03-20T19:03:17.190' AS DateTime), N'david', 1601)
INSERT [dbo].[INSURANCE] ([ID], [INSURANCE_PRICE], [INSURANCE_TYPE], [EXSITING_INSURANCE], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [EMPLOYEE_ID]) VALUES (2, CAST(165.00 AS Decimal(7, 2)), N'HARD', N'DA', CAST(N'2023-03-20T19:01:50.390' AS DateTime), CAST(N'2023-03-20T19:03:17.190' AS DateTime), N'david', 1602)
INSERT [dbo].[INSURANCE] ([ID], [INSURANCE_PRICE], [INSURANCE_TYPE], [EXSITING_INSURANCE], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [EMPLOYEE_ID]) VALUES (3, CAST(189.00 AS Decimal(7, 2)), N'MEDIUM', N'DA', CAST(N'2023-03-20T19:01:50.390' AS DateTime), CAST(N'2023-03-20T19:03:17.190' AS DateTime), N'david', 1603)
SET IDENTITY_INSERT [dbo].[INSURANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[LICENCES] ON 

INSERT [dbo].[LICENCES] ([LICENCE_ID], [DRIVERS_LICENCE], [IDENTITY_CARD], [PASSPORT], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [EMPLOYEE_ID]) VALUES (1, N'DA', N'NE', N'DA', CAST(N'2023-03-20T19:25:50.900' AS DateTime), CAST(N'2023-03-20T19:28:12.973' AS DateTime), N'david', 1601)
INSERT [dbo].[LICENCES] ([LICENCE_ID], [DRIVERS_LICENCE], [IDENTITY_CARD], [PASSPORT], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [EMPLOYEE_ID]) VALUES (2, N'DA', N'DA', N'NE', CAST(N'2023-03-20T19:25:50.900' AS DateTime), NULL, N'N/A', 1602)
INSERT [dbo].[LICENCES] ([LICENCE_ID], [DRIVERS_LICENCE], [IDENTITY_CARD], [PASSPORT], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [EMPLOYEE_ID]) VALUES (3, N'NE', N'DA', N'DA', CAST(N'2023-03-20T19:25:50.900' AS DateTime), CAST(N'2023-03-20T19:28:12.973' AS DateTime), N'david', 1603)
SET IDENTITY_INSERT [dbo].[LICENCES] OFF
GO
INSERT [dbo].[TRANSACTIONS] ([AMOUNT], [PRODUCT], [PRODUCT_WEIGHT], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [TRANSACTIONS_ID], [EMPLOYEE_ID]) VALUES (CAST(678.0 AS Decimal(7, 1)), N'CIPS', CAST(875.00 AS Decimal(5, 2)), CAST(N'2023-03-20T18:11:24.443' AS DateTime), NULL, N'N/A', 911, 1601)
INSERT [dbo].[TRANSACTIONS] ([AMOUNT], [PRODUCT], [PRODUCT_WEIGHT], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [TRANSACTIONS_ID], [EMPLOYEE_ID]) VALUES (CAST(856.0 AS Decimal(7, 1)), N'SMOKI', CAST(177.00 AS Decimal(5, 2)), CAST(N'2023-03-20T18:11:24.443' AS DateTime), NULL, N'N/A', 912, 1602)
INSERT [dbo].[TRANSACTIONS] ([AMOUNT], [PRODUCT], [PRODUCT_WEIGHT], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [TRANSACTIONS_ID], [EMPLOYEE_ID]) VALUES (CAST(452.0 AS Decimal(7, 1)), N'PEPSO', CAST(189.00 AS Decimal(5, 2)), CAST(N'2023-03-20T18:11:24.443' AS DateTime), NULL, N'N/A', 913, 1603)
GO
SET IDENTITY_INSERT [dbo].[VEHICLES] ON 

INSERT [dbo].[VEHICLES] ([VEHICLE_ID], [PRICE], [VEHICLE_TYPE], [COLOR], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [LICENCE_ID]) VALUES (1, CAST(678.00 AS Decimal(7, 2)), N'HATCHBACK', N'WHITE', CAST(N'2023-03-20T19:00:35.350' AS DateTime), CAST(N'2023-03-20T19:01:11.113' AS DateTime), N'david', 1)
INSERT [dbo].[VEHICLES] ([VEHICLE_ID], [PRICE], [VEHICLE_TYPE], [COLOR], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [LICENCE_ID]) VALUES (2, CAST(856.00 AS Decimal(7, 2)), N'LIMUSINE', N'BLACK', CAST(N'2023-03-20T19:00:35.350' AS DateTime), CAST(N'2023-03-20T19:01:11.113' AS DateTime), N'david', 2)
INSERT [dbo].[VEHICLES] ([VEHICLE_ID], [PRICE], [VEHICLE_TYPE], [COLOR], [CREATED_DATE], [MODIFIED_DATE], [CREATED_BY], [LICENCE_ID]) VALUES (3, CAST(452.00 AS Decimal(7, 2)), N'SEDANE', N'WHITE', CAST(N'2023-03-20T19:00:35.350' AS DateTime), CAST(N'2023-03-20T19:01:11.113' AS DateTime), N'david', 4)
SET IDENTITY_INSERT [dbo].[VEHICLES] OFF
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_DOZVOLIOSG] FOREIGN KEY([OSIGURENIK_ID])
REFERENCES [dbo].[INSURANCE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_DOZVOLIOSG]
GO
ALTER TABLE [dbo].[INSURANCE]  WITH CHECK ADD  CONSTRAINT [FK_INSTOEMPL] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[INSURANCE] CHECK CONSTRAINT [FK_INSTOEMPL]
GO
ALTER TABLE [dbo].[LICENCES]  WITH CHECK ADD  CONSTRAINT [PK_LICENEMPL] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[LICENCES] CHECK CONSTRAINT [PK_LICENEMPL]
GO
ALTER TABLE [dbo].[TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSEMPLS] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[TRANSACTIONS] CHECK CONSTRAINT [FK_TRANSEMPLS]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLLICEN] FOREIGN KEY([LICENCE_ID])
REFERENCES [dbo].[LICENCES] ([LICENCE_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLLICEN]
GO
USE [master]
GO
